<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %t %C[%L]: %m%n</pattern>
        </encoder>
    </appender>

    <logger name="eu.frlab" level="info"/>
    <logger name="io.netty" level="warn"/>
    <logger name="com.twitter" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
